.root {
    font-family: Verdana, serif;
}

.wrap {
    margin: auto;
}

.counters {
    opacity: 0.6;
    font-size: 25px;
    font-weight: bold;
}

.counters > div, .counters > button  {
    display: inline-block;
    margin-right: 20px;
    border-right: 1px solid #B1B1B1;
    padding-right: 20px;
    margin-bottom: 10px;
}

.pause  {
    border: 1px solid #ECECEC;
    padding: 10px 20px;
    background-color: #F4F3F2;
    cursor: pointer;
    transition: 0.3s;
    border-right: 1px solid #ECECEC !important;
    font-size: 25px;
    font-weight: bold;
}

.pause:hover {
    background-color: #696867;
    color: #ffffff;
}

.board {
    overflow: hidden;
    margin-top: 50px
}

.card {
    float: left;
    cursor: pointer;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    position: relative;
}

.card > div {
    background-size: 100%;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    position: absolute;
    top:0;
    left: 0;
}

.card.found {
    background-color: #F4F3F2;
    border-radius: 9px;
    border: 1px solid #A9A8A8;
    box-sizing: border-box;
    cursor: default;
}

.card .front {
    background-image: url("../images/pattern.svg");
}

.card.found > div {
    visibility: hidden;
}

.card.flipped {
    transform: rotateY(180deg);
}

.card .front {
    z-index: 2;
    transform: rotateY(0deg);
}
.card .back {
    background-size: 100%;
    transform: rotateY(180deg);
}